/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=VT323&display=swap');
/*end fonts*/

/*main elements*/
/*kill the default browser style*/
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'VT323', monospace;
}

p {
  font-family: 'PT Sans', sans-serif;
}

img {
  width: 50vw;
  filter: blur(var(--blur));
  border: var(--border) solid black;
}
/*end main elements*/

/*root - the most base designation*/
:root {
  --red: 255;
  --blue: 255;
  --green: 255;
  --border: 2px;
  --blur:  10px;
}

/*containers*/
.page-wrapper {
  background-color: rgb(var(--red), var(--green), var(--blue));
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*end containers*/

