body {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1516491575772-bab9f75948c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-body {
  width: 35vh;
  height: 35vh;
  border: 5px solid black;
  border-radius: 10px;
  background-image: url("https://images.unsplash.com/photo-1585314062604-1a357de8b000?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.clock-face {
  height: 25vh;
  width: 25vh;
  border-radius: 12.5vh;
  background-color: #E6E6E6;
  border: 2px #FFDE15 solid;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;;
}

.dot {
  border: 1px black solid;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffde15;
  position: absolute;
  top: 49.2%;
  left: 49.2%;
  z-index: 3;
}

/*transform-origin makes the hand rotate around the endpoint (center)*/
/*transition-timing-function gives it an interesting bounce when it ticks*/
.hand {
  width: 12.5vh;
  height: 6px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.09, 1.84, 0.15, 2.36);
}

.minute-hand {
  height: 4px;
}

.second-hand {
  background-color: red;
  height: 2px;
}

/*styling the numbers that appear around the clock*/
.number {
  position: absolute;
  color: white;
}

#twelve {
  top: 8px;
}

#three {
  right: 16px;
}

#six {
  bottom: 8px;
}

#nine {
  left: 16px;
}
